shy_moissanite_scraping/shy_moissanite_products
shy_moissanite_scraping/env
shy_moissanite_scraping/__pycache__
brilliantearth_rings/__pycache__
brilliantearth_rings/env
brilliantearth_rings/product_links.json
brilliantearth_rings/product_data.xlsx
brilliantearth_rings/page_source.html
brilliantearth_rings/products.html
brilliantearth_rings/js_scraper/node_modules
